<div class="accordion_menus_block_container {{ elements.menu_name }}">
{% for element in elements.items %}
  <h2 class="accordion-title">
    <a href="#">{{ element.title }}</a>
  </h2>
  <div class="accordion_menus-block-content">
    {{ element.content }}
  </div>
{% endfor %}
</div>
