{{ attach_library('ajax_example/hero-style') }}
<div class="second-template">
  <strong>My Second Custom twig file</strong>
  <h4 class="animate__animated animate__rubberBand">{{ title }}</h4>

  <p>Value is {{ test_var }}</p>

</div>

